.navbar {
    display: flex;
    position: fixed;
    justify-content: space-around;
    justify-self: center;
    top: 0;
    left: 0;
    right: 0;
    width: 75%;
    padding: 16px 0;
    margin: 0 auto;

    border-radius: 0 0 16px 16px;
    /* backdrop-filter: blur(6.25rem); */
    background-color: transparent;
    transition: all 0.3s ease;

}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;

    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        bottom: 0;
        top: auto;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 8px 0;
        border-top: 1px solid #444;
        width: 100%;
    }

    .navbar a {
        flex: 1;
        text-align: center;
        padding: 10px 0;
    }
}